/* General */

* {
  font-family: 'Raleway', sans-serif;
  margin: auto auto;
}

html {
  margin: 0 0;
}

body {
  width: 100%;
  margin: auto auto;
  padding: 5px;
  background-color: #fff;
}

body.night-mode {
  background-color: black;
  color: #fff;
}

a {
  color: blue;
}

a:visited {
  color: blueviolet;
}

body.night-mode a {
  color: #aaf;
}

body.night-mode a:visited {
  color: #faf;
}

.hidden {
  display: none;
  visibility: hidden;
}

.visible {
  display: block;
  visibility: visible;
}

span.visible {
  display: inline;
}

p {
  text-align: center;
}

strong {
  font-weight: 600;
}

div#main-div {
  text-align: center;
}


/* Title */

#title {
  margin-top: 20px;
  font-weight: 600;
  text-align: center;
}


/* The Button */

#TheButton {
  width: 400px;
  height: 70px;
  transition: all .2s;
  color: #000;
  background-color: #ededed;
  padding: 10px 30px;
  border: 1px solid #ccc;
  vertical-align: center;
  text-align: center;
  text-decoration: none;
  font-variant: small-caps;
  font-size: 150%;
  cursor: pointer;
  letter-spacing: 2.5px;
  font-weight: 600;
  color: #000;
  border-radius: 45px;
  transition: all 0.2s ease 0s;
  cursor: pointer;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
}

body.night-mode #TheButton {
  background-color: #444;
  color: #fff;
  border-color: #666;
}

#TheButton.lighted {
  background-color: hsl(222, 50%, 50%);
  color: #fff;
  box-shadow: 0px 20px 20px hsl(222, 50%, 75%);
}

body.night-mode #TheButton.lighted {
  background-color: hsl(222, 50%, 50%);
  color: #fff;
  box-shadow: 0px 20px 20px hsl(222, 50%, 25%);
}

#TheButton-div {
  display: inline-block;
  padding: 20px;
  margin: 10px;
}

#TheButton-div:hover #TheButton {
  box-shadow: 0px 20px 20px #f4f4f4;
  transform: translateY(-7px);
}

body.night-mode #TheButton-div:hover #TheButton {
  box-shadow: 0px 20px 20px #333;
}

#TheButton-div:active #TheButton {
  box-shadow: 0px 6px 8px #f4f4f4;
  transform: translateY(3px);
}

body.night-mode #TheButton-div:active #TheButton {
  box-shadow: 0px 6px 8px #111;
}


/* High scores */

table#highscores {
  border: none;
  background-color: #fafafa;
  margin: 20px auto;
  border-collapse: separate;
  border-spacing: 7px 3px;
}

body.night-mode table#highscores {
  background-color: #222;
}

table#highscores tr {
  transition: all .1s;
}

table#highscores td {
  text-align: left;
}

table#highscores tr:hover {
  background-color: #eee;
  font-weight: 300;
}

body.night-mode table#highscores tr:hover {
  background-color: #444;
}

table#highscores th {
  border-bottom: 1px solid black;
}

body.night-mode table#highscores th {
  border-bottom: 1px solid white;
}

table#highscores .lbusername {
  padding-right: 2px;
}

table#highscores tr td.lbusername:hover {
  font-weight: 300;
}

table#highscores td.lbrank {
  font-weight: 600;
}


/* Options */

#options {
  display: inline-block;
  margin-top: 1em;
  padding: .1em .5em .1em .5em;
  background-color: #fafafa;
}

body.night-mode #options {
  background-color: #222;
}

#options input {
  margin-left: 1.25em;
  margin-right: 0.25em;
}


/* Chat */

input#iChat-input {
  width: 60ex;
  margin: .5ex;
}

div#iChat-messages {
  overflow: scroll;
  width: 60ex;
  height: 30ex;
  border: solid thin black;
  padding: .4ex;
}

body.night-mode div#iChat-messages {
  border: solid thin white;
}

div#iChat-messages p {
  text-align: left;
  font-weight: bold;
}

span.iChat-timestamp {
  font-family: monospace;
  font-weight: bold;
  background-color: #eef;
  color: #66b;
}

body.night-mode span.iChat-timestamp {
  background-color: #226;
  color: #88f;
}

span.iChat-username {
  display: inline-block;
  font-weight: bold;
  margin: 0 0 0 .5ex;
}

span.iChat-username::after {
  content: ":";
  margin-right: .5ex;
}

span.iChat-text {
  font-weight: normal;
}

.iChat-highlight {
  background-color: #ffa;
}

body.night-mode .iChat-highlight {
  background-color: #600;
}


/* Footer */

#about {
  cursor: pointer;
  border-radius: 5px;
  font-size: 100%;
  margin-top: 10px;
}

#repolink {
  margin-top: 10px;
  padding-top: 10px;
  cursor: auto;
  border-radius: 5px;
}

div#footer {
  text-align: center;
}
