/* General */

html {
  margin: 0 0;
}

body {
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
  margin: auto auto;
  width: 100%;
}

body.night-mode {
  background-color: black;
  color: #fff;
}

a {
  color: blue;
}

a:visited {
  color: blueviolet;
}

body.night-mode a {
  color: #aaf;
}

body.night-mode a:visited {
  color: #faf;
}

p {
  margin: .75rem auto .75rem auto;
}

div#main-div {
  text-align: center;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

span.visible {
  display: inline;
}


/* Title */

#title {
  font-weight: bold;
  margin: .75rem auto .75rem auto;
  text-align: center;
}


/* The Button */

#TheButton-div {
  display: inline-block;
  margin: .75rem auto .75rem auto;
}

#TheButton-div:active #TheButton {
  transform: translateY(.25rem);
}

#TheButton {
  background-color: #ededed;
  border: thin solid #ccc;
  border-radius: 2.5em;
  box-shadow: inset 0 0 .25em #c1c1c1;
  color: #000;
  font-size: 150%;
  font-variant: small-caps;
  font-weight: bold;
  letter-spacing: .2em;
  height: 2.5em;
  text-align: center;
  transition: all 0.2s;
  width: 15em;
}

body.night-mode #TheButton {
  background-color: #444;
  border-color: #666;
  color: #fff;
}

#TheButton.lighted {
  background-color: hsl(222, 50%, 50%);
  box-shadow: 0 .6em .6em hsl(222, 50%, 75%);
  color: #fff;
}

body.night-mode #TheButton.lighted {
  background-color: hsl(222, 50%, 50%);
  box-shadow: 0 .6em .6em hsl(222, 50%, 25%);
  color: #fff;
}


/* High scores */

table#highscores {
  background-color: #fafafa;
  border: none;
  border-collapse: separate;
  border-spacing: .4em .2em;
  margin: .75rem auto;
}

body.night-mode table#highscores {
  background-color: #222;
}

table#highscores tr {
  transition: all .1s;
}

table#highscores td {
  text-align: left;
}

table#highscores th {
  border-bottom: thin solid black;
}

body.night-mode table#highscores th {
  border-bottom: thin solid white;
}

table#highscores td.lbrank {
  font-weight: bold;
}


/* Options */

#options {
  background-color: #fafafa;
  display: inline-block;
  margin: auto auto .75rem auto;
  padding: .1em .5em .1em .5em;
}

body.night-mode #options {
  background-color: #222;
}

#options input {
  margin: auto 0.25em auto 1.25em;
}


/* Chat */

#iChat {
  margin-bottom: 1.25rem;
}

input#iChat-input {
  margin: .3em;
  width: 32em;
}

div#iChat-messages {
  border: solid thin black;
  height: 16em;
  margin: auto;
  overflow: scroll;
  padding: .25em;
  width: 32em;
}

body.night-mode div#iChat-messages {
  border: solid thin white;
}

div#iChat-messages p {
  text-align: left;
}

span.iChat-timestamp {
  background-color: #eef;
  color: #66b;
  font-family: monospace;
  font-weight: bold;
}

body.night-mode span.iChat-timestamp {
  background-color: #226;
  color: #88f;
}

span.iChat-username {
  display: inline-block;
  font-weight: bold;
  margin: 0 0 0 .3em;
}

span.iChat-username::after {
  content: ":";
  margin-right: .3em;
}

.iChat-highlight {
  background-color: #ffa;
}

body.night-mode .iChat-highlight {
  background-color: #600;
}


/* Footer */

#about {
  font-size: 100%;
}

div#footer {
  text-align: center;
}
