/* General */

html {
  margin: 0 0;
}

body {
  background-color: white;
  font-family: 'Raleway', sans-serif;
  margin: auto auto;
  max-width: 50rem;
  padding: .5rem;
}

body.night-mode {
  background-color: black;
  color: white;
}

a {
  color: hsl(240, 100%, 50%);
}

body.night-mode a {
  color: hsl(240, 100%, 80%);
}

a:visited {
  color: hsl(275, 100%, 50%);
}

body.night-mode a:visited {
  color: hsl(275, 100%, 80%);
}

p {
  margin: .75rem auto .75rem auto;
}

div#main-div {
  text-align: center;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

span.visible {
  display: inline;
}


/* Title */

#title {
  font-weight: bold;
  margin: .75rem auto .75rem auto;
  text-align: center;
}


/* The Button */

#TheButton-div {
  margin: 1.25rem auto 1.25rem auto;
}

#TheButton-div:active #TheButton {
  transform: translateY(.25rem);
}

#TheButton {
  background-color: hsl(0, 0%, 90%);
  border: thin solid hsl(0, 0%, 80%);
  border-radius: 2.5em;
  box-shadow: inset 0 0 .25em hsl(0, 0%, 80%);
  color: black;
  font-size: 150%;
  font-variant: small-caps;
  font-weight: bold;
  letter-spacing: .2em;
  height: 2.5em;
  text-align: center;
  transition: all 0.2s;
  max-width: 15em;
  width: 75%;
}

@media screen and (max-width: 35rem) {
  #TheButton { width: 90%; }
}

body.night-mode #TheButton {
  background-color: hsl(0, 0%, 25%);
  border-color: hsl(0, 0%, 40%);
  color: white;
}

#TheButton.lighted {
  background-color: hsl(222, 50%, 50%);
  box-shadow: 0 .6em .6em hsl(222, 50%, 75%);
  color: white;
}

body.night-mode #TheButton.lighted {
  background-color: hsl(222, 50%, 50%);
  box-shadow: 0 .6em .6em hsl(222, 50%, 25%);
  color: white;
}


/* High scores */

table#highscores {
  border: none;
  border-collapse: separate;
  border-spacing: .4em .2em;
  margin: .75rem auto;
}

table#highscores tr {
  transition: all .1s;
}

table#highscores td {
  text-align: left;
}

table#highscores th {
  border-bottom: thin solid black;
}

body.night-mode table#highscores th {
  border-bottom: thin solid white;
}

table#highscores td.lbrank {
  font-weight: bold;
}

}
.unit {
  font-size: 75%;
  opacity: .6;
  vertical-align: super;
}


/* Options */

#options {
  display: inline-block;
  margin: auto auto .75rem auto;
  padding: .1em .5em .1em .5em;
}

#options input {
  margin: auto 0.25em auto 1.25em;
}


/* Chat */

#iChat {
  margin-bottom: 1.25rem;
}

input#iChat-input {
  margin: .3em;
  max-width: 32em;
  width: 75%;
}

div#iChat-messages {
  border: solid thin black;
  height: 16em;
  margin: auto;
  max-width: 32em;
  overflow: scroll;
  padding: .25em;
  width: 90%;
}

body.night-mode div#iChat-messages {
  border: solid thin white;
}

div#iChat-messages p {
  text-align: left;
}

span.iChat-timestamp {
  background-color: hsl(240, 100%, 97%);
  color: hsl(240, 38%, 57%);
  font-family: monospace;
  font-weight: bold;
}

body.night-mode span.iChat-timestamp {
  background-color: hsl(240, 50%, 27%);
  color: hsl(240, 100%, 77%);
}

span.iChat-username {
  display: inline-block;
  font-weight: bold;
  margin: 0 0 0 .3em;
}

span.iChat-username::after {
  content: ":";
  margin-right: .3em;
}

.iChat-highlight {
  background-color: hsl(60, 100%, 83%);
}

body.night-mode .iChat-highlight {
  background-color: hsl(0, 100%, 20%);
}


/* Footer */

#about {
  font-size: 100%;
}

div#footer {
  text-align: center;
}
